@font-face {
  font-family: "iconfont"; /* Project id 4665303 */
  src: url('../fonts/iconfont.woff2?t=1724687870845') format('woff2'),
       url('../fonts/iconfont.woff?t=1724687870845') format('woff'),
       url('../fonts/iconfont.ttf?t=1724687870845') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fangdajing:before {
  content: "\e6e4";
}

.icon-liaotian:before {
  content: "\e63c";
}

